<div class="section-wrapper">
  <section class="section about" id="about">
    <div id="about-text">
      <div class="section-heading">About Me</div>
      <p class="paragraph-text justify-text">
        Hello! I'm Jiyoon Oh, a passionate AI & data enthusiast studying
        Artificial Intelligence Convergence at Sungshin Women's University.
      </p>
      <p class="paragraph-text justify-text">
        My main interests lie in
        <strong>Natural Language Processing (NLP)</strong>,
        <strong>Multimodal Learning</strong>, and <strong>Text Mining</strong>.
        I enjoy exploring how language and vision can be integrated to solve
        real-world problems and create intelligent, user-centric systems.
      </p>
      <p class="paragraph-text justify-text">
        I've worked on diverse AI projects such as designing a deep
        learning-based multimodal classification model that predicts the
        semantic alignment between images and hashtags. I also enjoy analyzing
        language data to extract insights, especially from user-generated or
        social content.
      </p>
      <p class="paragraph-text justify-text">
        I enjoy exploring new ideas, working collaboratively in diverse teams,
        and continuously improving through feedback and iteration. I'm currently
        preparing for graduate studies to further deepen my research in AI and
        data-driven applications.
      </p>
      <p class="paragraph-text justify-text">
        You can find my latest projects on
        <a href="https://github.com/{{ site.github_username }}">Github</a>, and
        feel free to reach out via the contact info at the
        <span class="extra-link"><a href="#extra">bottom</a></span> of this
        page.
      </p>
    </div>
  </section>
</div>
