<div class="section-wrapper">
  <section class="section extra" id="extra">
    <div>
      <div class="section-heading" id="chat-text">Contact</div>
      <div class="extra-links">
        <a href="mailto:jynoh825@gmail.com" target="_blank" class="head-icon"
          ><i class="fas fa-envelope"></i
        ></a>
        <a href="https://github.com/askjiyun" target="_blank" class="head-icon"
          ><i class="fab fa-github"></i
        ></a>
        <a
          href="https://yooni-archive.tistory.com/"
          target="_blank"
          class="head-icon"
          ><i class="fas fa-pen-nib"></i
        ></a>
      </div>
    </div>
  </section>
</div>
